<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
     <link
      rel="shortcut icon"
      href="/static/IMAGES/login.png"
      type="image/x-icon"
    />
    <title>Admin Login</title>
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <!-- Sign In Form -->
        <form action="" method="POST">
         {% csrf_token %}
         <h2>Admin Login</h2>
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <button>Log In</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h2>Admin</h2>
            <p>Only Admin Will login kindly make sure dont't try to login with employee account !</p>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p>
        &copy; Created with  by Gajal Rathore, Kushi Verma, Darsha Patidar
      </p>
    </footer>
  </body>
</html>
