<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee task Management Dashboard </title>
    <link rel="stylesheet" href="/static/css/EMPDashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>

</style>
<body>

    <section>
    <div class="sidebar close">
    <div class="logo">
        <img class="logo-name" src="/static/IMAGES/mono.jpg" style="margin:20px;height:40px;border-radius:20px;">
    </div>

    <ul class="nav-list">
        <li>
        <a href="TaskDashboard">
            <i class="fab fa-microsoft"></i>
            <span class="link-name">Dashboard</span>
        </a>

        <ul class="sub-menu blank">
            <li><a href="EMPAccount" class="link-name">Dashboard</a></li>
        </ul>
        </li>
        <li>
        <div class="icon-link" >
        <a href="#">
            <i class="fa-solid fa-list-check"></i>
            <span class="link-name">Task</span>
        </a>
        <i class="fas fa-caret-down arrow"></i>
        </div>
        <ul class="sub-menu">
            <li><a href="#" class="link-name">Dept name</a></li>
            <li><a href="{% url "EmployeeTask" %}" >Task description</a></li>
            <li><a href="EMPTaskEndDate" >Task end date</a></li>
        </ul>
        </li>
         <li>
        <a href="EMPAccount">
            <i class="fa fa-gear"></i>
            <span class="link-name">Raise Query</span>
        </a>
        </li>
        <li>
            <div class="profile-details">
            <div class="profile-content">
            </div>

            <div class="name-job">
            <div class="name">{{ request.session.EmployeeUsername }}</div>
            <div class="job">{{ request.session.EmployeeEmail }}</div>
            </div>
            <a href="{% url 'logout' %}"><i class="fas fa-right-to-bracket" ></i></a>
            </div>
        </li>
    </ul>
    </div>

    <div class="home-section">
    <div class="home-content">
        <i class="fas fa-bars"></i>
        <span class="text">Employee Dashboard</span>
    </div>
    </div>


        <!-- User Top Naviagation Starts from Here -->
        

            <!-- User Dashboard Starts from Here -->
            <div class="dashboard">
            <h2 class="heading">Dashboard </h2>
            <div class="color-box">
                <div class="box pink">
                    <p> <i class="fa fa-building-o" aria-hidden="true"></i> </p>
                    <p>Tasks</p>
                    <h3>{{ total_tasks }}</h3> <!-- Insert total_tasks count here -->
                </div>
                <div class="box green">
                    <p> <i class="fa fa-area-chart" aria-hidden="true"></i> </p>
                    <p>In progress Task</p>
                    <h3>{{ in_progress_tasks }}</h3> <!-- Insert in_progress_tasks count here -->
                </div>
                <div class="box blue">
                    <p> <i class="fa fa-tasks" aria-hidden="true"></i> </p>
                    <p>Completed Task</p>
                    <h3>{{ completed_tasks }}</h3> <!-- Insert completed_tasks count here -->
                </div>
            </div>
        </div>
        </div>
    </section>

</body>
<script>
    /* Created by Tivotal */

let btn = document.querySelector(".fa-bars");
let sidebar = document.querySelector(".sidebar");

btn.addEventListener("click", () => {
  sidebar.classList.toggle("close");
});

let arrows = document.querySelectorAll(".arrow");
for (var i = 0; i < arrows.length; i++) {
  arrows[i].addEventListener("click", (e) => {
    let arrowParent = e.target.parentElement.parentElement;

    arrowParent.classList.toggle("show");
  });
}
    const hamburger = document.getElementById('menu');
    const navigation = document.getElementById('navigation');
    hamburger.addEventListener('click', function () {
        navigation.classList.toggle('active')
        console.log('clicked');
    })
</script>

</html>