<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="shortcut icon" href="/static/IMAGES/mono.jpg" type="image/x-icon">
    <title>EMS</title>
</head>
<body>
    <div class="banner">
        {% include "Nav.html" %}
        <div class="content">
            <h1>Improving Your Productivity</h1>
        </div>
        <a href="Developers" class="developer-icon" title="Developers">
            <img src="/static/IMAGES/developer.png" alt="Developers">
        </a>
    </div>
</body>
</html>
