        <div class="navbar">
            <a href="http://127.0.0.1:8000/"><img src="/static/IMAGES/mono.jpg" class="logo" alt="Logo"></a>
            <div class="brand">
                <h1>Employee Task</h1>
                <h4>Management System</h4>
            </div>
            <ul class="nav">
                <li><a href={% url "ADMINLOGIN" %}>ADMIN</a></li>
                <li><a href={% url "ABOUT" %}>AboutUs</a></li>
                <li><a href={% url "employeesignuplogin" %}>LOGIN</a></li>
                <li><a href={% url "CONTACT" %}>ContactUs</a></li>
                {% comment %} <li><a href={% url "CONTACT" %}>Documents</a></li> {% endcomment %}
            </ul>
        </div>