<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/taskemployeelist.css">
    <title>Assigned Tasks</title>
</head>
<style>
.container {
    display: flex;
    flex-direction: column;
}

.user-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.finish-icon {
    margin-left: auto; /* Aligns the finished image to the right */
}

.finish-icon img {
    width: 20px;
    height: 20px;
}

</style>
<body>
    <h1>Assigned Tasks</h1>
<div class="container">
    <ul class="task-list">
        <!-- Inside your template -->
        {% for employee in employees %}
        <li>
            <h3>{{ employee.name }}</h3>
            <p>Number of tasks: {{ employee.task_count }}</p>
            <div class="task-details">
                {% for task in employee.task_set.all %}
                <form method="post" action="{% url 'mark_task_finished' task.id employee.email %}">
                    {% csrf_token %}
                    <!-- Pass the email as a hidden input field -->
                    <input type="hidden" name="email" value="{{ employee.email }}">
                    <p><strong>Task:</strong> {{ task.title }}</p>
                    <p><strong>Description:</strong> {{ task.description }}</p>
                    <p><strong>Deadline:</strong> {{ task.deadline_date }} {{ task.deadline_time }}</p>
                    <!-- Add a submit button -->
                    <button type="submit">Finish Task</button>
                </form>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
